// ==========================================================================
//  Basic
// ==========================================================================

$default-font-color: #000;
$default-font-size: 18px;
$default-font-family: "Open Sans", sans-serif;